<%include ./partials/head %>


<div class="main">
    <header>
        <h2>Currency Converter</h2>

        <a href="/about">About</a>
        <a href="/github" target="_blank">GitHub</a>
    </header>
    <p>Use this site to get your Currency!</p>
    <p>Exhange Rates Date: <span><%= date %></span></p>

    <div class="main-container">
        <form action="" method="">
            <input placeholder="Amount" type="text">
            <select id="currencyFrom" name="currencyFrom">
                <% for (var i = 0; i < currency.length; i++) { %>
                <option value="<%= currency[i] %>"><%= currency[i] %></option>
                <% } %>
            </select>
            <select id="currencyTo" name="currencyTo">
                <% for (var i = 0; i < currency.length; i++) { %>
                <option value="<%= currency[i] %>"><%= currency[i] %></option>
                <% } %>
            </select>
            <button type="submit">Convert</button>
            <button id="clear" disabled>Clear</button>
        </form>
        <p id="message-1"></p>
    </div>
</div>
<%include ./partials/footer %>